<!-- Main content -->
    {{template "page-heading" 
        dict 
            "Title" (t "education.page_title") 
            "Subtitle" (t "education.page_subtitle") 
            "MarginBottom" "mb-16"
    }}

    <!-- Problem Agitation Section -->
    <div class="mb-20">
        {{$educationProblems := dict
            "Title" (t "education.problems_title")
            "Description" (t "education.problems_description")
            "ValueProps" (slice
                (dict
                    "Title" (t "education.problem_1_title")
                    "Description" (t "education.problem_1_description")
                )
                (dict
                    "Title" (t "education.problem_2_title")
                    "Description" (t "education.problem_2_description")
                )
                (dict
                    "Title" (t "education.problem_3_title")
                    "Description" (t "education.problem_3_description")
                )
            )
        }}
        {{template "value-propositions" $educationProblems}}
    </div>
    
    <!-- Educational Institutions List -->
    <div class="mb-20">
        <h2 class="text-3xl md:text-4xl font-medium tracking-tight text-gray-900 mb-12">{{t "education.institutions_title"}}</h2>
        {{$educationCustomers := parseJSON `{
            "customers": [
                {"name": "Harvard University", "url": "https://college.harvard.edu"},
                {"name": "Oxford University", "url": "https://glam.ox.ac.uk"},
                {"name": "Imperial College London", "url": "https://ic.ac.uk"},
                {"name": "Carnegie Mellon University", "url": "https://cmu.edu"},
                {"name": "Columbia University", "url": "https://columbia.edu"},
                {"name": "Cornell University", "url": "https://cornell.edu"},
                {"name": "Duke University", "url": "https://duke.edu"},
                {"name": "University of Toronto", "url": "https://cs.toronto.edu"},
                {"name": "UCLA", "url": "https://g.ucla.edu"},
                {"name": "Georgia Institute of Technology", "url": "https://gatech.edu"},
                {"name": "Georgetown University", "url": "https://georgetown.edu"},
                {"name": "New York University", "url": "https://nyu.edu"},
                {"name": "University of Michigan", "url": "https://umich.edu"},
                {"name": "University of Washington", "url": "https://uw.edu"},
                {"name": "University of Texas at Austin", "url": "https://utexas.edu"},
                {"name": "Pennsylvania State University", "url": "https://psu.edu"},
                {"name": "Ohio State University", "url": "https://osu.edu"},
                {"name": "Purdue University", "url": "https://purdue.edu"},
                {"name": "UC Irvine", "url": "https://hs.uci.edu"},
                {"name": "National University of Singapore", "url": "https://nus.edu.sg"},
                {"name": "IIT Bombay", "url": "https://iitb.ac.in"},
                {"name": "University of Virginia", "url": "https://virginia.edu"},
                {"name": "Vanderbilt University", "url": "https://vanderbilt.edu"},
                {"name": "University of North Carolina", "url": "https://unc.edu"},
                {"name": "Williams College", "url": "https://williams.edu"},
                {"name": "UNSW Sydney", "url": "https://ad.unsw.edu.au"},
                {"name": "Sabaragamuwa University", "url": "https://agri.sab.ac.lk"},
                {"name": "Ahmedabad University", "url": "https://ahduni.edu.in"},
                {"name": "Al Muslim University", "url": "https://almuslim.ac.id"},
                {"name": "University of Southern California", "url": "https://alumni.usc.edu"},
                {"name": "AMA University", "url": "https://ama.edu.ph"},
                {"name": "IPB University", "url": "https://apps.ipb.ac.id"},
                {"name": "University of Bradford", "url": "https://bradford.ac.uk"},
                {"name": "University at Buffalo", "url": "https://buffalo.edu"},
                {"name": "Brigham Young University", "url": "https://byu.edu"},
                {"name": "University of Canterbury", "url": "https://canterbury.ac.nz"},
                {"name": "Chulalongkorn University", "url": "https://cbs.chula.ac.th"},
                {"name": "Universidad de la República", "url": "https://cienciassociales.edu.uy"},
                {"name": "Central Luzon State University", "url": "https://clsu2.edu.ph"},
                {"name": "University of Colorado", "url": "https://colorado.edu"},
                {"name": "Civil Service College Singapore", "url": "https://cscollege.gov.sg"},
                {"name": "Colorado State University", "url": "https://csu.edu"},
                {"name": "Cal State Maritime", "url": "https://csum.edu"},
                {"name": "Cal State Monterey Bay", "url": "https://csumb.edu"},
                {"name": "Cairo University", "url": "https://dentistry.cu.edu.eg"},
                {"name": "Dickinson College", "url": "https://dickinson.edu"},
                {"name": "De La Salle University", "url": "https://dlsu.edu.ph"},
                {"name": "University of Denver", "url": "https://du.edu"},
                {"name": "NSW Department of Education", "url": "https://education.nsw.gov.au"},
                {"name": "Falmouth University", "url": "https://falmouth.ac.uk"},
                {"name": "Florida International University", "url": "https://fiu.edu"},
                {"name": "Universitas Muhammadiyah Yogyakarta", "url": "https://fpb.umy.ac.id"},
                {"name": "Batangas State University", "url": "https://g.batstate-u.edu.ph"},
                {"name": "Mindanao State University - IIT", "url": "https://g.msuiit.edu.ph"},
                {"name": "GIATMARA", "url": "https://giatmara.edu.my"},
                {"name": "George Mason University", "url": "https://gmu.edu"},
                {"name": "University of Mississippi", "url": "https://go.olemiss.edu"},
                {"name": "George Washington University", "url": "https://gwmail.gwu.edu"},
                {"name": "University of Hawaii", "url": "https://hawaii.edu"},
                {"name": "Ho Chi Minh City University of Technology", "url": "https://hcmut.edu.vn"},
                {"name": "Houston Independent School District", "url": "https://houstonisd.org"},
                {"name": "Hue University", "url": "https://husc.edu.vn"},
                {"name": "Hanoi University of Science and Technology", "url": "https://hust.edu.vn"},
                {"name": "IBA Sukkur", "url": "https://iba-suk.edu.pk"},
                {"name": "Inter Board Committee of Chairmen", "url": "https://ibcc.edu.pk"},
                {"name": "Institute of Development Studies", "url": "https://ids.ac.uk"},
                {"name": "IIIT Bhubaneswar", "url": "https://iiitbh.ac.in"},
                {"name": "IIM Indore", "url": "https://iimidr.ac.in"},
                {"name": "IIT (BHU) Varanasi", "url": "https://iitbhu.ac.in"},
                {"name": "IIT Indore", "url": "https://iiti.ac.in"},
                {"name": "Universiti Malaysia Sabah", "url": "https://iluv.ums.edu.my"},
                {"name": "Sunway University", "url": "https://imail.sunway.edu.my"},
                {"name": "International Medical University", "url": "https://imu.edu.my"},
                {"name": "Indiana University", "url": "https://iu.edu"},
                {"name": "Kent State University", "url": "https://kent.edu"},
                {"name": "Kenyatta University", "url": "https://ku.ac.ke"},
                {"name": "University of Kansas", "url": "https://ku.edu"},
                {"name": "University of Law", "url": "https://law.ac.uk"},
                {"name": "Loma Linda University", "url": "https://llu.edu"},
                {"name": "Louisiana State University", "url": "https://lsu.edu"},
                {"name": "Birmingham City University", "url": "https://mail.bcu.ac.uk"},
                {"name": "Beijing Normal University", "url": "https://mail.bnu.edu.cn"},
                {"name": "Universitas Gadjah Mada", "url": "https://mail.ugm.ac.id"},
                {"name": "Washington and Lee University", "url": "https://mail.wlu.edu"},
                {"name": "UIN Syarif Hidayatullah Jakarta", "url": "https://mhs.uinjkt.ac.id"},
                {"name": "Universitas Negeri Surabaya", "url": "https://mhs.unesa.ac.id"},
                {"name": "Miami University", "url": "https://miamioh.edu"},
                {"name": "Middlebury College", "url": "https://middlebury.edu"},
                {"name": "Ministry of Education Malaysia", "url": "https://moe-dl.edu.my"},
                {"name": "Mohawk College", "url": "https://mohawkcollege.ca"},
                {"name": "Montclair State University", "url": "https://montclair.edu"},
                {"name": "MSA University", "url": "https://msa.edu.eg"},
                {"name": "Michigan State University", "url": "https://msu.edu"},
                {"name": "Hawaii Pacific University", "url": "https://my.hpu.edu"},
                {"name": "Lone Star College", "url": "https://my.lonestar.edu"},
                {"name": "San Mateo County Community College District", "url": "https://my.smccd.edu"},
                {"name": "Utah Valley University", "url": "https://my.uvu.edu"},
                {"name": "Australian Catholic University", "url": "https://myacu.edu.au"},
                {"name": "California Institute of Integral Studies", "url": "https://mymail.ciis.edu"},
                {"name": "Pomona College", "url": "https://mymail.pomona.edu"},
                {"name": "Singapore Institute of Management", "url": "https://mymail.sim.edu.sg"},
                {"name": "Singapore University of Technology and Design", "url": "https://mymail.sutd.edu.sg"},
                {"name": "Nirma University", "url": "https://nirmauni.ac.in"},
                {"name": "NIT Hamirpur", "url": "https://nith.ac.in"},
                {"name": "New Jersey Institute of Technology", "url": "https://njit.edu"},
                {"name": "Northeastern University", "url": "https://northeastern.edu"},
                {"name": "North South University", "url": "https://northsouth.edu"},
                {"name": "Netaji Subhas University of Technology", "url": "https://nsut.ac.in"},
                {"name": "NUS High School", "url": "https://nushigh.edu.sg"},
                {"name": "University of Otago", "url": "https://otago.ac.nz"},
                {"name": "Ozyegin University", "url": "https://ozu.edu.tr"},
                {"name": "PAREF Schools", "url": "https://paref.edu.ph"},
                {"name": "PAREF Northfield", "url": "https://parefnorthfield.edu.ph"},
                {"name": "PAREF Rosehill", "url": "https://parefrosehill.edu.ph"},
                {"name": "PAREF Springdale", "url": "https://parefspringdale.edu.ph"},
                {"name": "PAREF Woodrose", "url": "https://parefwoodrose.edu.ph"},
                {"name": "Silpakorn University", "url": "https://parichat.skru.ac.th"},
                {"name": "Pearl Academy", "url": "https://pearlacademy.com"},
                {"name": "University of Notre Dame Australia", "url": "https://phoenix.wa.edu.au"},
                {"name": "Hofstra University", "url": "https://pride.hofstra.edu"},
                {"name": "Resonance Educational Institute", "url": "https://resonance.ac.in"},
                {"name": "University of Richmond", "url": "https://richmond.edu"},
                {"name": "Rangsit University", "url": "https://rsu.ac.th"},
                {"name": "Royal University of Phnom Penh", "url": "https://rupp.edu.kh"},
                {"name": "Universiti Kuala Lumpur", "url": "https://s.unikl.edu.my"},
                {"name": "Vienna University of Economics and Business", "url": "https://s.wu.ac.at"},
                {"name": "SAE Institute", "url": "https://sae.edu"},
                {"name": "Rutgers University", "url": "https://scarletmail.rutgers.edu"},
                {"name": "Thammasat University", "url": "https://sgs.tu.ac.th"},
                {"name": "University of Sharjah", "url": "https://sharjah.ac.ae"},
                {"name": "Southern Methodist University", "url": "https://smu.edu"},
                {"name": "Suan Sunandha Rajabhat University", "url": "https://ssru.ac.th"},
                {"name": "University of Economics Ho Chi Minh City", "url": "https://st.ueh.edu.vn"},
                {"name": "University of St. Thomas", "url": "https://stthomas.edu"},
                {"name": "Ming Chuan University", "url": "https://stu.mlc.edu.tw"},
                {"name": "Yasar University", "url": "https://stu.yasar.edu.tr"},
                {"name": "Artevelde University of Applied Sciences", "url": "https://student.arteveldehs.be"},
                {"name": "Cape Breton University", "url": "https://student.cmu.ca"},
                {"name": "International University of Malaya-Wales", "url": "https://student.iumw.edu.my"},
                {"name": "Leeds Beckett University", "url": "https://student.leedsbeckett.ac.uk"},
                {"name": "Mt. San Antonio College", "url": "https://student.mtsac.edu"},
                {"name": "NHL Stenden University", "url": "https://student.nhlstenden.com"},
                {"name": "President University", "url": "https://student.president.ac.id"},
                {"name": "Universitas Brawijaya", "url": "https://student.ub.ac.id"},
                {"name": "University College Birmingham", "url": "https://student.ucb.ac.uk"},
                {"name": "Universitas Sam Ratulangi", "url": "https://student.unsrat.ac.id"},
                {"name": "Universitas Udayana", "url": "https://student.unud.ac.id"},
                {"name": "UIN Walisongo", "url": "https://student.walisongo.ac.id"},
                {"name": "Wawasan Open University", "url": "https://student.wou.edu.my"},
                {"name": "Universiti Malaysia Perlis", "url": "https://studentmail.unimap.edu.my"},
                {"name": "Applied Science University", "url": "https://students.asu.edu.jo"},
                {"name": "University of Maryland", "url": "https://terpmail.umd.edu"},
                {"name": "Topica Edtech Group", "url": "https://topica.edu.vn"},
                {"name": "University of Alabama at Birmingham", "url": "https://uab.edu"},
                {"name": "University of Baguio", "url": "https://ub.edu.ph"},
                {"name": "UC Merced", "url": "https://ucmerced.edu"},
                {"name": "University of Connecticut", "url": "https://uconn.edu"},
                {"name": "University of Delaware", "url": "https://udel.edu"},
                {"name": "Universidad de Monterrey", "url": "https://udem.edu"},
                {"name": "University of the East", "url": "https://ue.edu.ph"},
                {"name": "Universidad Francisco Marroquín", "url": "https://ufm.edu"},
                {"name": "Universidad Francisco de Paula Santander", "url": "https://ufpso.edu.co"},
                {"name": "University of Georgia", "url": "https://uga.edu"},
                {"name": "Universitas Indonesia", "url": "https://ui.ac.id"},
                {"name": "University of the Balearic Islands", "url": "https://uib.edu"},
                {"name": "UIN Sunan Kalijaga", "url": "https://uin-suka.ac.id"},
                {"name": "Universiti Teknologi MARA", "url": "https://uitm.edu.my"},
                {"name": "Universitas Krida Wacana", "url": "https://ukrida.ac.id"},
                {"name": "University of Northern Philippines", "url": "https://unc.edu.ph"},
                {"name": "UNC Charlotte", "url": "https://uncc.edu"},
                {"name": "UNC Wilmington", "url": "https://uncw.edu"},
                {"name": "Universiti Tenaga Nasional", "url": "https://uniten.edu.my"},
                {"name": "University of Nevada, Las Vegas", "url": "https://unlv.edu"},
                {"name": "University of Canberra", "url": "https://uoc.edu"},
                {"name": "University of Oregon", "url": "https://uoregon.edu"},
                {"name": "University of the Philippines", "url": "https://up.edu.ph"},
                {"name": "Universitas Pendidikan Indonesia", "url": "https://upi.edu"},
                {"name": "University of Rochester Medical Center", "url": "https://urmc.rochester.edu"},
                {"name": "University of the Sunshine Coast", "url": "https://usc.edu.au"},
                {"name": "University of South Florida", "url": "https://usf.edu"},
                {"name": "Universiti Sains Islam Malaysia", "url": "https://usim.edu.my"},
                {"name": "University of Utah", "url": "https://utah.edu"},
                {"name": "University of the Thai Chamber of Commerce", "url": "https://utcc.ac.th"},
                {"name": "University of Tennessee", "url": "https://vols.utk.edu"},
                {"name": "West Chester University", "url": "https://wcupa.edu"},
                {"name": "United States Military Academy", "url": "https://westpoint.edu"},
                {"name": "Western Governors University", "url": "https://wgu.edu"},
                {"name": "College of William & Mary", "url": "https://wm.edu"},
                {"name": "Worcester Polytechnic Institute", "url": "https://wpi.edu"},
                {"name": "Washington State University", "url": "https://wsu.edu"},
                {"name": "Western Washington University", "url": "https://wwu.edu"}
            ]
        }`}}
        {{template "customer-list" $educationCustomers}}
    </div>

    

    <!-- Key Reasons Section -->
    <div class="mb-20">
        {{$educationFeatures := dict
            "Title" (t "education.why_choose_title")
            "Features" (slice
                (dict
                    "Title" (t "education.feature_1_title")
                    "Description" (t "education.feature_1_description")
                )
                (dict
                    "Title" (t "education.feature_2_title")
                    "Description" (t "education.feature_2_description")
                )
                (dict
                    "Title" (t "education.feature_3_title")
                    "Description" (t "education.feature_3_description")
                )
            )
        }}
        {{template "features-grid-simple" $educationFeatures}}
    </div>

    <!-- Education Use Cases Section Header -->
    <div class="mb-20">
        <h2 class="text-3xl md:text-4xl font-medium tracking-tight text-gray-900 mb-16">{{t "education.use_cases_title"}}</h2>
    </div>

    <!-- Student Records Management Feature -->
    <div class="mb-20 px-6 lg:px-8">
        {{$studentRecordsData := dict
            "VideoPosition" "left"
            "VideoUrl" "/product/custom-fields.mp4"
            "Title" (t "education.student_records_title")
            "Description" (t "education.student_records_description")
            "Button" (dict
                "Text" (t "education.student_records_button")
                "Url" "/docs/use-cases/student-management"
            )
            "SeeAlso" (dict
                "Links" (slice
                    (dict "Text" (t "education.student_records_link_1") "Description" (t "education.student_records_link_1_desc") "Url" "/platform/features/database")
                    (dict "Text" (t "education.student_records_link_2") "Description" (t "education.student_records_link_2_desc") "Url" "/docs/custom-fields/reference")
                    (dict "Text" (t "education.student_records_link_3") "Description" (t "education.student_records_link_3_desc") "Url" "/platform/api")
                )
            )
        }}
        {{template "feature-video" $studentRecordsData}}
    </div>

    <!-- Course & Faculty Management Feature -->
    <div class="mb-20 px-6 lg:px-8">
        {{$courseManagementData := dict
            "VideoPosition" "right"
            "VideoUrl" "/product/kanban-board.mp4"
            "Title" (t "education.course_management_title")
            "Description" (t "education.course_management_description")
            "Button" (dict
                "Text" (t "education.course_management_button")
                "Url" "/solutions/use-case/resource-management"
            )
            "SeeAlso" (dict
                "Links" (slice
                    (dict "Text" (t "education.course_management_link_1") "Description" (t "education.course_management_link_1_desc") "Url" "/platform/features/calendar")
                    (dict "Text" (t "education.course_management_link_2") "Description" (t "education.course_management_link_2_desc") "Url" "/platform/features/workspaces")
                    (dict "Text" (t "education.course_management_link_3") "Description" (t "education.course_management_link_3_desc") "Url" "/docs/views/timeline-gantt-charts")
                )
            )
        }}
        {{template "feature-video" $courseManagementData}}
    </div>

    <!-- Academic Compliance Feature -->
    <div class="mb-20 px-6 lg:px-8">
        {{$complianceData := dict
            "VideoPosition" "left"
            "VideoUrl" "/product/reporting.mp4"
            "Title" (t "education.compliance_title")
            "Description" (t "education.compliance_description")
            "Button" (dict
                "Text" (t "education.compliance_button")
                "Url" "/docs/reporting"
            )
            "SeeAlso" (dict
                "Links" (slice
                    (dict "Text" (t "education.compliance_link_1") "Description" (t "education.compliance_link_1_desc") "Url" "/platform/features/audit-trails")
                    (dict "Text" (t "education.compliance_link_2") "Description" (t "education.compliance_link_2_desc") "Url" "/platform/features/pdf-generation")
                    (dict "Text" (t "education.compliance_link_3") "Description" (t "education.compliance_link_3_desc") "Url" "/docs/integrations/csv-export")
                )
            )
        }}
        {{template "feature-video" $complianceData}}
    </div>

    <!-- Student Services Management Feature -->
    <div class="mb-20 px-6 lg:px-8">
        {{$studentServicesData := dict
            "VideoPosition" "right"
            "VideoUrl" "/product/forms.mp4"
            "Title" (t "education.student_services_title")
            "Description" (t "education.student_services_description")
            "Button" (dict
                "Text" (t "education.student_services_button")
                "Url" "/docs/forms"
            )
            "SeeAlso" (dict
                "Links" (slice
                    (dict "Text" (t "education.student_services_link_1") "Description" (t "education.student_services_link_1_desc") "Url" "/docs/wiki")
                    (dict "Text" (t "education.student_services_link_2") "Description" (t "education.student_services_link_2_desc") "Url" "/platform/features/templates")
                    (dict "Text" (t "education.student_services_link_3") "Description" (t "education.student_services_link_3_desc") "Url" "/docs/projects/search")
                )
            )
        }}
        {{template "feature-video" $studentServicesData}}
    </div>

    <!-- Education Stats Section -->
    <div class="mb-20">
        {{$educationStatsData := dict
            "Title" (t "education.stats_title")
            "Stats" (slice
                (dict
                    "Number" (t "education.stat_1_number")
                    "Description" (t "education.stat_1_description")
                )
                (dict
                    "Number" (t "education.stat_2_number")
                    "Description" (t "education.stat_2_description")
                )
                (dict
                    "Number" (t "education.stat_3_number")
                    "Description" (t "education.stat_3_description")
                )
            )
        }}
        {{template "stats-section" $educationStatsData}}
    </div>

    <!-- FAQ Section -->
    <div class="mb-20">
        <h2 class="text-3xl md:text-4xl font-medium tracking-tight text-gray-900 mb-16">{{t "education.faq_title"}}</h2>
        
        {{$educationFaqData := dict
            "categories" (slice
                (dict
                    "name" (t "education.faq_category_1")
                    "questions" (slice
                        (dict
                            "question" (t "education.faq_1_1_question")
                            "answer" (t "education.faq_1_1_answer")
                        )
                        (dict
                            "question" (t "education.faq_1_2_question")
                            "answer" (t "education.faq_1_2_answer")
                        )
                        (dict
                            "question" (t "education.faq_1_3_question")
                            "answer" (t "education.faq_1_3_answer")
                        )
                    )
                )
                (dict
                    "name" (t "education.faq_category_2")
                    "questions" (slice
                        (dict
                            "question" (t "education.faq_2_1_question")
                            "answer" (t "education.faq_2_1_answer")
                        )
                        (dict
                            "question" (t "education.faq_2_2_question")
                            "answer" (t "education.faq_2_2_answer")
                        )
                        (dict
                            "question" (t "education.faq_2_3_question")
                            "answer" (t "education.faq_2_3_answer")
                        )
                    )
                )
                (dict
                    "name" (t "education.faq_category_3")
                    "questions" (slice
                        (dict
                            "question" (t "education.faq_3_1_question")
                            "answer" (t "education.faq_3_1_answer")
                        )
                        (dict
                            "question" (t "education.faq_3_2_question")
                            "answer" (t "education.faq_3_2_answer")
                        )
                        (dict
                            "question" (t "education.faq_3_3_question")
                            "answer" (t "education.faq_3_3_answer")
                        )
                    )
                )
            )
        }}
        
        {{template "faq-sections" $educationFaqData}}
    </div>

    <!-- Final CTA -->
    <div class="px-6 lg:px-8">
        {{$ctaData := dict
            "Title" (t "education.cta_title")
            "SecondaryText" (t "education.cta_secondary_text")
            "SecondaryUrl" "/contact/sales"
            "PrimaryText" (t "education.cta_primary_text")
            "PrimaryUrl" "https://app.blue.cc"
        }}
        {{template "dual-button-cta" $ctaData}}
    </div>

