<!-- Customers Page -->
    {{template "page-heading" 
        dict 
            "Title" (t "customers.page_title") 
            "Subtitle" (printf (t "customers.page_subtitle") .CustomerNumber | html)
            "MarginBottom" "mb-16"
    }}

    {{$testimonialData := dict
        "testimonials" (slice
            (dict
                "quote" (t "customers.testimonial_1")
                "videoUrl" "https://media.blue.cc/davidzack-testimonial.mp4"
                "posterUrl" "/testimonials/davidsacks.jpeg"
            )
            (dict
                "quote" (t "customers.testimonial_2")
                "videoUrl" "https://media.blue.cc/lady.mp4"
                "posterUrl" "/testimonials/lady.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_3")
                "videoUrl" "https://media.blue.cc/ricklews-testimonial.mov"
                "posterUrl" "/testimonials/ricklewis.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_4")
                "videoUrl" "https://media.blue.cc/ana.mov"
                "posterUrl" "/testimonials/ana-testimonial.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_5")
                "videoUrl" "https://media.blue.cc/pere.mp4"
                "posterUrl" "/testimonials/pere.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_6")
                "videoUrl" "https://media.blue.cc/raybrown.mp4"
                "posterUrl" "/testimonials/raybrown.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_7")
                "videoUrl" "https://media.blue.cc/rike-whelan.mp4"
                "posterUrl" "/testimonials/rike-whelan.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_8")
                "videoUrl" "https://media.blue.cc/dandeigan.mp4"
                "posterUrl" "/testimonials/dandeigan.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_9")
                "videoUrl" "https://media.blue.cc/barryrodrigues.mp4"
                "posterUrl" "/testimonials/barryrodriguez.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_10")
                "videoUrl" "https://media.blue.cc/garth.mp4"
                "posterUrl" "/testimonials/garth.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_11")
                "videoUrl" "https://media.blue.cc/afl-testimonial.mp4"
                "posterUrl" "/testimonials/alf.jpeg"
            )
            (dict
                "quote" (t "customers.testimonial_12")
                "videoUrl" "https://media.blue.cc/nadiaschoeman.mp4"
                "posterUrl" "/testimonials/nadiaschoeman.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_13")
                "videoUrl" "https://media.blue.cc/akshaydatt.mp4"
                "posterUrl" "/testimonials/akshaydatt.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_14")
                "videoUrl" "https://media.blue.cc/carlos.mp4"
                "posterUrl" "/testimonials/carlos.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_15")
                "videoUrl" "https://media.blue.cc/june.mp4"
                "posterUrl" "/testimonials/june.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_16")
                "videoUrl" "https://media.blue.cc/dingchinghong.mp4"
                "posterUrl" "/testimonials/dingchinghong.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_17")
                "videoUrl" "https://media.blue.cc/garychan.mp4"
                "posterUrl" "/testimonials/garychan.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_18")
                "videoUrl" "https://media.blue.cc/gopikrishna.mp4"
                "posterUrl" "/testimonials/gopikrishna.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_19")
                "videoUrl" "https://media.blue.cc/grantcollins.mp4"
                "posterUrl" "/testimonials/grantcollins.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_20")
                "videoUrl" "https://media.blue.cc/jimmybogroff.mp4"
                "posterUrl" "/testimonials/jimmybogroff.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_21")
                "videoUrl" "https://media.blue.cc/johanielagcao.mp4"
                "posterUrl" "/testimonials/johanielagcao.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_22")
                "videoUrl" "https://media.blue.cc/naseem.mp4"
                "posterUrl" "/testimonials/naseem.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_23")
                "videoUrl" "https://media.blue.cc/johnorosco.mp4"
                "posterUrl" "/testimonials/johnorosco.jpg"
            )
            (dict
                "quote" (t "customers.testimonial_24")
                "videoUrl" "https://media.blue.cc/rajeshpabari.mp4"
                "posterUrl" "/testimonials/rajeshpabari.jpg"
            )
        )
    }}

    {{template "testimonial-videos" $testimonialData}}
