<!-- Customers Page -->
<div class="py-20">
    {{template "page-heading" 
        dict 
            "Title" "Blue for Enterprise" 
            "Subtitle" "Blue is trusted by more than 17,000 teams, from ambitious startups to established enterprises."
            "MarginBottom" "mb-16"
    }}
    <!-- Customer Testimonial Section -->
    <div class="py-16">        
        {{template "testimonial-single" 
            dict 
                "Quote" "We are saving each sales rep in our team 9 hours a week with Blue."
                "VideoUrl" "https://media.blue.cc/dandeigan.mp4"
                "PosterUrl" "/public/testimonials/dandeigan.jpg"
                "Name" "Dan Deigan"
                "Title" "Sales Director at Pinnacle Logistics"
        }}
    </div>

</div>