<!-- Main content -->
    {{template "page-heading" 
        dict 
            "Title" "Feature Index" 
            "Subtitle" "Discover all the modules and features in Blue." 
            "MarginBottom" "mb-16"
    }}

    {{$featuresData := parseJSON `{
        "sections": [
            {
                "title": "Product",
                "columns": [
                    {
                        "items": [
                            { "label": "Workspaces", "link": "/platform/features/workspaces" },
                            { "label": "Records", "link": "/platform/features/records" },
                            { "label": "User Permissions", "link": "/platform/features/user-permissions" },
                            { "label": "File Management", "link": "/platform/features/file-management" },
                            { "label": "Automations", "link": "/platform/features/automations" }
                        ]
                    },
                    {
                        "items": [
                            { "label": "Dashboards", "link": "/platform/features/dashboards" },
                            { "label": "Templates", "link": "/platform/features/templates" },
                            { "label": "Search", "link": "/docs/projects/search" },
                            { "label": "Artificial Intelligence", "link": "/platform/features/ai" },
                            { "label": "Forms", "link": "/platform/features/forms" }
                        ]
                    },
                    {
                        "items": [
                            { "label": "Chat", "link": "/platform/features/chat" },
                            { "label": "Wiki & Docs", "link": "/platform/features/wiki-docs" },
                            { "label": "Notifications", "link": "/docs/user-management/notifications" },
                            { "label": "PDF Generation", "link": "/platform/features/pdf-generation" },
                            { "label": "Repeating Records", "link": "/docs/records/repeat" }
                        ]
                    }
                ]
            },
            {
                "title": "Views",
                "columns": [
                    {
                        "items": [
                            { "label": "Kanban Board", "link": "/platform/features/kanban-board" },
                            { "label": "Calendar", "link": "/platform/features/calendar" },
                            { "label": "Timeline & Gantt Charts", "link": "/platform/features/timeline-gantt-charts" }
                        ]
                    },
                    {
                        "items": [
                            { "label": "Database", "link": "/platform/features/database" },
                            { "label": "Map", "link": "/platform/features/map" },
                            { "label": "List", "link": "/docs/views/list" }
                        ]
                    },
                    {
                        "items": [
                            { "label": "Filters", "link": "/docs/views/filters" },
                            { "label": "Audit Trails", "link": "/platform/features/audit-trails" }

                        ]
                    }
                ]
            },
            {
                "title": "Custom Fields",
                "columns": [
                    {
                        "items": [
                            { "label": "Overview", "link": "/platform/features/custom-fields" },
                            { "label": "Single Line Text", "link": "/docs/custom-fields/single-line-text" },
                            { "label": "Multiple Line Text", "link": "/docs/custom-fields/multiple-line-text" },
                            { "label": "URL / Link", "link": "/docs/custom-fields/url-link" },
                            { "label": "Currency", "link": "/docs/custom-fields/currency" },
                            { "label": "Country", "link": "/docs/custom-fields/country" },
                            { "label": "Date", "link": "/docs/custom-fields/date" },
                            { "label": "Formula", "link": "/docs/custom-fields/formula" }
                        ]
                    },
                    {
                        "items": [
                            { "label": "File", "link": "/docs/custom-fields/file" },
                            { "label": "Single Select", "link": "/docs/custom-fields/single-select" },
                            { "label": "Multiple Select", "link": "/docs/custom-fields/multiple-select" },
                            { "label": "Location / Map", "link": "/docs/custom-fields/location-map" },
                            { "label": "Phone Number", "link": "/docs/custom-fields/phone-number" },
                            { "label": "Email", "link": "/docs/custom-fields/email" },
                            { "label": "Star Rating", "link": "/docs/custom-fields/star-rating" },
                            { "label": "Checkbox", "link": "/docs/custom-fields/checkbox" }
                        ]
                    },
                    {
                        "items": [
                            { "label": "Number", "link": "/docs/custom-fields/number" },
                            { "label": "Percent", "link": "/docs/custom-fields/percent" },
                            { "label": "Unique ID", "link": "/docs/custom-fields/unique-id" },
                            { "label": "Reference", "link": "/docs/custom-fields/reference" },
                            { "label": "Lookup", "link": "/docs/custom-fields/lookup" },
                            { "label": "Duration", "link": "/docs/custom-fields/duration" },
                            { "label": "Button", "link": "/docs/custom-fields/button" },
                            { "label": "Time In List", "link": "/docs/custom-fields/time-in-list" }
                        ]
                    }
                ]
            },
            {
                "title": "Integrations",
                "columns": [
                    {
                        "items": [
                            { "label": "API", "link": "/docs/integrations/api" },
                            { "label": "Webhooks", "link": "/docs/integrations/webhooks" },
                            { "label": "CSV Import", "link": "/docs/integrations/csv-import" },
                            { "label": "CSV Export", "link": "/docs/integrations/csv-export" },
                            { "label": "Calendar Sync", "link": "/docs/integrations/calendar-sync" }
                            
                        ]
                    },
                    {
                        "items": [
                            { "label": "Zapier", "link": "/docs/integrations/zapier" },
                            { "label": "Make.com", "link": "/docs/integrations/make" },
                            { "label": "Pabbly Connect", "link": "/docs/integrations/pabbly-connect" },
                            { "label": "Albato", "link": "/docs/integrations" },
                            { "label": "Boost.space", "link": "/docs/integrations" }
                            
                        ]
                    },
                    {
                        "items": [
                            { "label": "HTTP Request Automations", "link": "/docs/integrations" },
                            { "label": "Python SDK", "link": "/api/libraries/python" },
                            { "label": "GraphQL Playground", "link": "/api/start-guide/graphql-playground" },
                            { "label": "Google Maps", "link": "/docs/integrations/googlemaps" },
                            { "label": "Github", "link": "/docs/integrations/github" }
                            
                          
                        ]
                    }
                ]
            },
            {
                "title": "Download",
                "columns": [
                    {
                        "items": [
                            { "label": "iOS (iPhone) ", "link": "/platform/download" },
                             { "label": "Android", "link": "/platform/download" }
                        ]
                    },
                    {
                        "items": [
                            { "label": "iOS (iPad)", "link": "/platform/download" },
                            { "label": "Chrome Extension (Unofficial)", "link": "/platform/download" }
                        ]
                    },
                    {
                        "items": [
                            {"label": "Mac", "link": "/platform/download" },
                            { "label": "Windows", "link": "/platform/download" }
                            
                        ]
                    }
                ]
            }
        ]
    }`}}
    
    {{template "features-grid" $featuresData}}

